extends ./layout.jade
block contenido
	div(class = "container pt-4 pb-4")
		p(class = "infadm") Usuario: #{usuario}
		h1 Agregar Administrador
		form(action="/admin/agregaradmin" method= "POST")
			div(class="form-group")
				label(for="usuario") Usuario
				input(type="text" class="form-control" id="usuario" name="usuario" aria-describedby="emailHelp" placeholder="Ingresar usuario")
			div(class="form-group")
				label(for="contrasena") Contraseña
				input(type="password" class="form-control" id="contrasena" name="contrasena" aria-describedby"contraseñaHelp" placeholder="Ingresar contraseña")
			div(class="form-group")
				input(type="submit" class="btn btn-primary" value= "Agregar")
		h1 Lista de administradores
		table(class="table table-bordered table-light table-hover")
			thead(class="thead-light")
				tr
					th(scope="col") Usuario
					th(scope="col") Contraseña
					th(scope="col") Eliminar
			tbody
				- for(var i = 0; i < administradores.length; i++)
					tr
						td #{administradores[i].IDENTIFICACION}
						td #{administradores[i].CONTRASENIA}
						td
							div(class="btn btn-danger" data-toggle="modal" data-target="#confirmarEliminacion") Eliminar
							div(class = "modal fade" id="confirmarEliminacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
								div(class = "modal-dialog" role="document")
									div(class = "modal-content")
										div(class = "modal-header")
											h5(class = "modal-title") Eliminar administrador
											button(type = "button" class = "close" data-dismiss = "modal" aria-label="Close")
												span(aria-hidden = "true") &times;
										div(class = "modal-content")
											div(class = "container pt-4 pb-4")
												p ¿Desea eliminar al administrador?
										div(class = "modal-footer")
											button(type = "button" class = "btn btn-primary" data-dismiss="modal") Cancelar
											a(href="/admin/eliminaradmin?id=#{administradores[i].IDENTIFICACION}"  class = "btn btn-secondary") Confirmar
