extends ./layout.jade
block contenido
	div(class = "container pt-4 pb-4")
		p(class = "infadm") Usuario: #{usuario}
		h1 Agregar Administrador
		form(action="/admin/agregaradmin" method= "POST")
			div(class="form-group")
				label(for="usuario") Usuario
				input(type="text" class="form-control" id="usuario" name="usuario" aria-describedby="emailHelp" placeholder="Ingresar usuario")
			div(class="form-group")
				label(for="contrasena") Contrase単a
				input(type="password" class="form-control" id="contrasena" name="contrasena" aria-describedby"contrase単aHelp" placeholder="Ingresar contrase単a")
			div(class="form-group")
				input(type="submit" class="btn btn-primary" value= "Agregar")
		h1 Lista de administradores
		table(class="table")
			thead
				tr
					th(scope="col") Usuario
					th(scope="col") Contrase単a
					th(scope="col") Eliminar
			tbody
				- for(var i = 0; i < administradores.length; i++)
					tr
						td #{administradores[i].IDENTIFICACION}
						td #{administradores[i].CONTRASENIA}
						td
							a(class="btn btn-danger" href="/admin/eliminaradmin?id=#{administradores[i].IDENTIFICACION}") Eliminar
