extends ./layout.jade
block contenido
	div(class = "container pt-4 pb-4")
		p(class = "infadm") Usuario: #{usuario}
		h1 Agregar Administrador
		form(action="/admin/agregaradmin" method= "POST")
			div(class="form-group")
				label(for="usuario") Usuario
				input(type="text" class="form-control" id="usuario" name="usuario" aria-describedby="emailHelp" placeholder="Ingresar usuario")
			div(class="form-group")
				label(for="contrasena") Contraseña
				input(type="password" class="form-control" id="contrasena" name="contrasena" aria-describedby"contraseñaHelp" placeholder="Ingresar contraseña")
			div(class="form-group")
				input(type="submit" class="btn btn-primary" value= "Agregar")