doctype html
html
	head
		meta(charset = "UTF-8")
		title CompraYa
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="/static/css/styles.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	body
		- if(type_user == -1){
			nav(class="navbar navbar-expand-lg navbar-light bg-light")
				a(class = "navbar-brand" href = "/") Inicio
				div(class="collapse navbar-collapse" id="navbarSupportedContent")
					ul(class = "navbar-nav mr-auto")
						li(class="nav-item dropdown")
							a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Iniciar sesión
							div(class="dropdown-menu" aria-labelledby="navbarDropdown")
								a(class="dropdown-item" href="/nouser/login") Usuario
								a(class="dropdown-item" href="/nouser/ingresoadministrador") Administrador
		- }else if(type_user == 0){
			nav(class="navbar navbar-expand-lg navbar-light bg-light")
				a(class = "navbar-brand" href = "/admin") Administrador
				div(class="collapse navbar-collapse" id="navbarSupportedContent")
					ul(class = "navbar-nav mr-auto")
						li(class="nav-item dropdown")
							a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Gestionar productos
							div(class="dropdown-menu" aria-labelledby="navbarDropdown")
								a(class="dropdown-item" href="/admin/buscarproductos") Buscar productos
								a(class="dropdown-item" href="/admin/productos") Ver productos
								a(class="dropdown-item" href="/admin/agregarproducto") Agregar producto
								a(class="dropdown-item" href="/admin/preciosproductos") Modificar precios
						li(class="nav-item dropdown")
							a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Gestionar clientes
							div(class="dropdown-menu" aria-labelledby="navbarDropdown")
								a(class="dropdown-item" href="/admin/clientes") Ver clientes
						li(class="nav-item active")
							a(class = "nav-link" href = "/admin/informes") Reportes
						li(class="nav-item active")
							a(class = "nav-link" href = "/admin/cerrarsesion") Cerrar sesión
		- }else if(type_user == 1){
			nav(class="navbar navbar-expand-lg navbar-light bg-light")
				a(class = "navbar-brand" href = "/shop") Bienvenido
				div(class="collapse navbar-collapse" id="navbarSupportedContent")
					ul(class = "navbar-nav mr-auto")
						li(class="nav-item dropdown")
							a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #{user.NOMBRE_COMPLETO}
							div(class="dropdown-menu" aria-labelledby="navbarDropdown")
								a(class = "nav-link" href = "/user/perfil") Perfil
								a(class = "nav-link" href = "/user/cerrarsesion") Cerrar sesión
					div(class = "contenedorcarrito")
						a(href = "/user/carrito" class ="my-2 my-lg-0 btn-primary btn") Carrito
							i(class="material-icons") shopping_cart
					
		- }
		
							
					
		block contenido

		

		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
		footer(class = "footer")
			div(class = "container pt-3")
				div(class = "row")
					div(class = "col-md-6")
						p Dirección: Universidad del Quindió
						p Teléfono: 747777
						p Correo eletrónico: diegoacalero0@gmail.com
					div(class = "col-md-6")
						h5 Nuestras redes sociales
						div(class = "container-fluid")
							div(class = "row")
								div(class = "col-md-4")
									a(href = "http://www.facebook.com/diegocalero0" target = "_blank")
										img(src = "/static/images/facebook.png" class = "redsocialimg")
								div(class = "col-md-4")
									a(href = "http://www.instagram.com/diegocalerog" target = "_blank")
										img(src = "/static/images/instagram.png" class = "redsocialimg")
								div(class = "col-md-4")
									a(href = "http://www.twitter.com/diegocalero0" target = "_blank")
										img(src = "/static/images/twitter.png" class = "redsocialimg")