extends ./layout.jade

block contenido
	script(type='text/javascript' src="socket.io/socket.io.js")
	div(class = "container pt-4")
		div(class = "row")
			h1 Registrate
		div(class = "row")
			div(class = "col-md-12")
				form(action = "/validarRegistro" method = "POST")
					div(class = "form-group row")
						label(for="correo" class="col-md-2 col-form-label") Correo electronico
						input(value = correo type = "text" placeholder = "Correo electrónico" name = "correo" id = "correo" class = "form-control col-md-5" required = "required" readonly)
						label(for="password" class="col-md-2 col-form-label") Contraseña
						input(value = pass type = "password" placeholder = "Contraseña" name = "password" id = "password" class = "form-control col-md-3" required = "required" readonly)
					div(class = "form-group row")
						label(for="tipodocumento" class="col-md-2 col-form-label") Tipo de documento
						select(class="form-control col-sm-4" id = "tipodocumento" name = "tipodocumento")
							option Cédula
							option NIT
					div(class = "form-group row")
						label(for="identificacion" class="col-md-2 col-form-label") Cédula / NIT
						input(type = "text" placeholder = "Cédula / NIT" name = "identificacion" id = "identificacion" class = "form-control col-md-4" required = "required")
					div(class = "form-group row")
						label(for="nombre" class="col-md-2 col-form-label") Nombre
						input(type = "text" placeholder = "Nombre" name = "nombre" id = "nombre" class = "form-control col-md-4" required = "required")
					div(class = "form-group row")
						label(for="apellido" class="col-md-2 col-form-label") Apellido
						input(type = "text" placeholder = "Apellido" name = "apellido" id = "apellido" class = "form-control col-md-4" required = "required")
					div(class = "form-group row")
						label(for="telefono" class="col-md-2 col-form-label") Teléfono
						input(type = "text" placeholder = "Teléfono" name = "telefono" id = "telefono" class = "form-control col-md-4" required = "required")
					div(class = "form-group row")
						label(for="celular" class="col-md-2 col-form-label") Celular
						input(type = "text" placeholder = "Celular" name = "celular" id = "celular" class = "form-control col-md-4")
					div(class = "form-group row")
						label(for="pais" class="col-md-2 col-form-label") País
						select(class="form-control col-sm-4" id = "pais" name = "pais")
					div(class = "form-group row")
						label(for="pais" class="col-md-2 col-form-label") Departamento
						select(class="form-control col-sm-4" id = "departamento" name = "departamento")
					div(class = "form-group row")
						label(for="pais" class="col-md-2 col-form-ciudad") Ciudad
						select(class="form-control col-sm-4" id = "ciudad" name = "ciudad")
					div(class = "form-group row")
						label(for="direccion" class="col-md-2 col-form-label") Dirección
						input(type = "text" placeholder = "Dirección" name = "direccion" id = "direccion" class = "form-control col-md-4")
					div(class = "form-group row")
						label(for="profesion" class="col-md-2 col-form-label") Profesión
						input(type = "text" placeholder = "Profesión" name = "profesion" id = "profesion" class = "form-control col-md-4")
					div(class = "form-group")
						input(type = "submit" class = "btn btn-primary" value = "Registrate")
	script.
		var io = io.connect('http://localhost:8080', {'forceNew':true});
		var spaises = document.getElementById('pais');
		var sdep = document.getElementById("departamento");
		var smun = document.getElementById("ciudad");

		spaises.setAttribute("onchange", "eventoDepartamentos()");
		sdep.setAttribute("onchange", "eventoCiudad()");

		function eventoDepartamentos(){
			io.emit("departamentos", {id:spaises.value});
		}

		function eventoCiudad(){
			io.emit("municipios", {id: sdep.value});
		}

		io.on("paises", function(data){
			var cont = data.length;
			spaises.length = cont;
			for(var i = 0; i < cont; i++){
				spaises.options[i] = new Option(data[i].NOMBRE, data[i].ID_PAIS);
			};

			io.emit("departamentos", {id:spaises.value});
		});

		io.on("departamentos", function(data){
			var cont = data.length;
			sdep.length = cont;
			for(var i = 0; i < cont; i++){
				sdep.options[i] = new Option(data[i].NOMBRE, data[i].ID_DEPARTAMENTO);
			};

			io.emit("municipios", {id: sdep.value});

		});

		io.on("municipios", function(data){
			var cont = data.length;
			smun.length = cont;
			for(var i = 0; i < cont; i++){
				smun.options[i] = new Option(data[i].NOMBRE, data[i].ID);
			};
		});